@keyframes swingRight {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes swingLeft {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.craneGame {
    height: 300px;
    border: 1px solid #000;
}

.crane-arm {
    width: 100%;
    height: 0.75vh;
    background: rgb(155, 155, 155);
    margin-top: 1%;
}
.crane-arm-claw {
    // width: 50px;
    // height: 50px;
    // background: blue;
    // position: relative;
}

.prize {
    height: 25px;
    width: 25px;
    background: red;
    // position: absolute;
    z-index: 10;
}

.claw {
    position: absolute;
    top: 1.85%;
    left: 30px;
    width: 60px;
    height: 260px;
}
.clawBar {
    position: absolute;
    top: 20px;
    left: 27px;
    width: 6px;
    height: 15px;
    background: #5b5b5b;
    border-radius: 0 0 10px 10px;
}
.clawALL {
    position: absolute;
    top: 30px;
    left: 0;
    width: 60px;
    transform-origin: top center;
}
.clawBall {
    position: absolute;
    top: 0px;
    left: 21px;
    width: 6px;
    height: 6px;
    border: 6px solid #5b5b5b;
    border-radius: 50%;
}
.leftClaw {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 16px;
    height: 25px;
    border-top: 8px solid #5b5b5b;
    border-left: 4px solid #5b5b5b;
    transform-origin: top right;
    transform: rotate(-30deg);
    transition: all .25s;
}
.rightClaw {
    position: absolute;
    top: 5px;
    right: 3px;
    width: 16px;
    height: 25px;
    border-top: 8px solid #5b5b5b;
    border-right: 4px solid #5b5b5b;
    transform-origin: top left;
    transform: rotate(30deg);
    transition: all .25s;
}

//爪子張開
.clawGrab {
    transform: rotate(0deg);
}
