<div class="craneGame">
  <div class="crane">
    <div class="crane-arm">
      <div class="crane-arm-claw"> </div>
    </div>
  </div>
</div>

<div class="button">
  <button class="left" (mousedown)="startEventLeft($event)" (mouseup)="stopEvent($event)">left</button>
  <button class="right" (mousedown)="startEventRight($event)" (mouseup)="stopEvent($event)">right</button>
  <button class="get" (click)="grab()">grab</button>
</div>

<!-- {{number}} -->

<!-- <button class="btn" (mousedown)="startEvent($event)" (mouseup)="stopEvent($event)">
  網頁按鈕1
</button>

<button class="btn" (touchstart)="startEvent($event)" (touchend)="stopEvent($event)">
  手機按鈕2
</button> -->