<div class="container" oncontextmenu="return false" onselectstart="return false">
  <img src="../assets/machine-frame.png" alt="" class="bg"> 
  <div class="banner"></div>
  <div class="icon"></div>
  <div class="claw-all claw">
    <div class="bar-claw"></div>
    <div class="body-claw">
      <img src="../assets/claw-body.png" alt="" class="arm-claw">
      <img src="../assets/claw-left.png" alt="" class="left-claw">
      <img src="../assets/claw-right.png" alt="" class="right-claw">
    </div>
  </div>

  <img src="../assets/window-prizes-shadow.png" alt="" class="prizes"> 

  <div class="button">
    <img src="../assets/joystick.png" alt="" class="joystick">
    <button class="get" (click)="grab()">
      <img src="../assets/btn-prize-text.png" alt="">
    </button>
  </div>
</div>

<button (click)="change()">!win</button>
{{win}}