@keyframes swingRight {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes swingLeft {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.container {
    width: 100%;
    overflow-x: hidden;
    height: 160vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bg {
        width: 100%;
        z-index: -1;
        position: fixed;
    }

    .claw-all {
        z-index: 2;
        position: relative;
        width: 80vw;
        top: 40vw;
        left: 8vw;

        .body-claw {
            transform-origin: top center;
        }

        .bar-claw {
            width: 2vw;
            height: 3vw;
            background: #ccc;
            position: absolute;
            top: -3vw;
            left: 3.9vw;
        }

        .arm-claw {
            width: 10vw;
            position: absolute;
        }

        .left-claw {
            width: 10vw;
            position: absolute;
            top: 10vw;
            left: -8vw;
            transform-origin: top right;
            transform: rotate(-30deg);
        }

        .right-claw {
            width: 10vw;
            position: absolute;
            top: 10vw;
            left: 8vw;
            transform-origin: top left;
            transform: rotate(30deg);
        }

        //爪子張開
        .clawGrab {
            transform: rotate(0deg);
        }
    }

    .prizes {
        width: 85.5vw;
        position: absolute;
        top: 36.5vw;
        height: 63vw;
        z-index: 2;
    }

    .prize-winning {
        z-index: 5;
    }
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 42.5vw;

    .left,
    .right {
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2.5vw;
        border-bottom: 4vw solid #3986e2;
        background: #3986e2;
        transition: all 0.25s;
        box-shadow: 0 1vw 0 .25vw #fff;

        img {
            width: 15vw;
            height: 15vw;
            // border-bottom: 4vw solid #fff;
        }
    }

    .get {
        width: 33.45vw;
        height: 15vw;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2.5vw;
        border-radius: 3vw;
        border-bottom: 4vw solid #e53c3c;
        background: #e53c3c;
        transition: all .25s;
        box-shadow: 0 1vw 0 .25vw #fff;

        img {
            width: 35vw;
            height: 15vw;
        }
    }

    .press {
        border-bottom: none;
    }
}

// .craneGame {
//     height: 300px;
//     border: 1px solid #000;
// }

// .crane-arm {
//     width: 100%;
//     height: 0.75vh;
//     background: rgb(155, 155, 155);
//     margin-top: 1%;
// }
// .crane-arm-claw {
//     // width: 50px;
//     // height: 50px;
//     // background: blue;
//     // position: relative;
// }

.prize {
    // height: 25px;
    // width: 25px;
    // background: red;
    // position: absolute;
    // z-index: 10;
    width: 10vw;
    height: 10vw;
}

// .claw {
//     position: absolute;
//     top: 1.85%;
//     left: 30px;
//     width: 60px;
//     height: 260px;
// }
// .clawBar {
//     position: absolute;
//     top: 20px;
//     left: 27px;
//     width: 6px;
//     height: 15px;
//     background: #5b5b5b;
//     border-radius: 0 0 10px 10px;
// }
// .clawALL {
//     position: absolute;
//     top: 30px;
//     left: 0;
//     width: 60px;
//     transform-origin: top center;
// }
// .clawBall {
//     position: absolute;
//     top: 0px;
//     left: 21px;
//     width: 6px;
//     height: 6px;
//     border: 6px solid #5b5b5b;
//     border-radius: 50%;
// }
// .leftClaw {
//     position: absolute;
//     top: 5px;
//     left: 3px;
//     width: 16px;
//     height: 25px;
//     border-top: 8px solid #5b5b5b;
//     border-left: 4px solid #5b5b5b;
//     transform-origin: top right;
//     transform: rotate(-30deg);
//     transition: all 0.25s;
// }
// .rightClaw {
//     position: absolute;
//     top: 5px;
//     right: 3px;
//     width: 16px;
//     height: 25px;
//     border-top: 8px solid #5b5b5b;
//     border-right: 4px solid #5b5b5b;
//     transform-origin: top left;
//     transform: rotate(30deg);
//     transition: all 0.25s;
// }
